<Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="new[] { typeof(HelloComponent).Assembly }"
        OnNavigateAsync="@OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code 
{
    private async Task OnNavigateAsync(NavigationContext args)
    {
        // Code here
    }
}